
@import url('https://fonts.googleapis.com/css2?family=TASA+Explorer:wght@400..800&display=swap');

.tasa-explorer-NavbarA {
  font-family: "TASA Explorer", sans-serif;
  font-optical-sizing: auto;
  font-weight:800;
  font-style: normal;
}